@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
/*- Загальні стилі */


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #fff;

}

a {
  color: black;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}
  
img {
    max-width: 100%;
}
.container {
    position: relative;
    box-sizing: border-box;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 260px;
    height: 50px;
  
    font-weight: 500;
    font-size: 16px;

  
    background: #fff;
    border-radius: 50px;
  
    transition: opacity 0.3s;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .btn--small {
    width: 140px;
    height: 40px;
    font-size: 12px;
  }
  /*- Шапка */
  
.open{
    display: flex !important;
}
.logo{
    color: #000;
    font-size: 30px;
    font-weight:900;
    margin: 0;
}
.header {

    position: relative;
    z-index: 10;

    background-color: #fff;
}
  
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header__links {
    display: flex;
    gap: 30px;
    list-style: none;
}
  
.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}
  
.header__nav a.active {
    opacity: 1;
}
  
.header__nav a:hover {
    opacity: 0.9;
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #000;
}
.burger::before, .burger::after {
    content: '';
    position: absolute;
    background-color: #000;
    transition: all 0.3s ease 0%;
}
.burger::before { 
    top: 0;
    height: 2px;
    width: 100%;
}

.burger::after {bottom: 0;
    height: 2px;
    width: 50%;
}

.burger.active span {transform: scale(0)}

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after{
    top: 45%;
    width: 100%;
    transform: rotate(45deg) translate(0, 50%);
}


 /*- Привітальна секція */
.welcome {
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
  
    margin-top: -100px;
    padding: 240px 0;
  
    background-image: url("img/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rizba{
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.welcome__img-1 {
    /* float: right; */
    position: absolute;
    right: 0;
    top: -290px;
    height: 60vh;
}

.welcome__img-2 {
    max-width: 100%;
}
.welcome__text {
    width: 560px;
}
  
.welcome__title {
    font-size: 40px;
    font-weight: bold;
}
  
.welcome__desc {
    margin: 40px 0;
    font-size: 20px;
    opacity: 0.7;
}

/* Переваги */
.stats-container {

    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    align-items: center;
    padding: 40px 130px;
    padding-bottom: 25px;
    background-color: #fff;
}


.stat-item {
    width: 30%;
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #000;
   
}

/* .stat-item:last-child {border: 0;} */

.stat-item span {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.stat-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #ccc;
}

/* Про нас */
.about {
    background-color: #140901;
    padding: 50px 0;
    color: #fff;
}

.about-content {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    overflow: hidden;
}

.about-image {
    height: 395px;
    width: 383px;
    object-fit: cover;
    border-radius: 5px;
}

.text {
    padding: 20px;
    width: 50%;
}

.text h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.text p {
    margin-bottom: 12px;
    font-size: 0.9rem;
    color: #555;
}

/* Галерея */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 30px 170px;
    justify-items: center; 
    justify-content: space-between;
}

.gallery-item {
    width: 100%;
    max-width: 400px; 
}

.gallery-item img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.gallery-item img:hover {
    transform: scale(1.05);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox.active {
    display: flex;
}

.lightbox-img {
    max-width: 90%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}



/* Форма */

.contact-section {
    display: flex;
    background-color: #140901;
    padding: 50px 170px;
    gap: 24px;
}
  .contact-box {
    align-items:center;
    max-width: 1110px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    width: 550px;
    padding: 0px;
}
  .contact-box h2 {
    background-color: #7D583A;
    color: #fff;
    padding: 25px 15px;
    border-radius: 5px 5px 0 0;
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
}
  .contact-box p {
    padding-left: 15px;
    margin: 15px 5px;
  }
  .contact-info {
    color: #000;
    font-size: 14px;
    line-height: 1.6;
}
a.phone-link {
    color: #000; 
    text-decoration: none; 
}

a.phone-link:hover {
    color: #0056b3;
    text-decoration: underline;
}
.contact-form{
    padding-left: 15px;
}
.contact-form label, .contact-form input, .contact-form textarea {
    color: #000;
    display: block;
    width: 95%;
    margin: 10px 5px;
    margin-bottom: 10px;
}
.contact-form input, .contact-form textarea {
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;

  }
  .contact-form input[type="submit"] {
    background-color: #7D583A;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
    width: 96%;
    transition: opacity 0.3s;
  }

  .contact-form input[type="submit"]:hover {
    opacity: 0.6;
    }
/* Ціни */

.price-container {
    display: flex;
    gap: 30px; 
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 40px;
  }

  /* Блоки цін */
  .price-box {
    background-color: #fff; 
    border: 2px solid #7D583A; 
    border-radius: 5px; 
    padding: 82px;
    text-align: center; 
    width: 180px;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

  .price-box:hover {
    background-color: #fff8f3; 
    transform: scale(1.1); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
  }
  .price-box h3 {
    color: #000;
    font-size: 18px;
    margin: 0 0 10px;
  }
  .price-box p {
    font-size: 16px;
    margin: 0;
    color: #4f4e4e; 
  }

/* Відео */

.video-container {
    display: flex;
    position: relative;
    justify-content: center; 
    align-items: center; 
    background-color: #f4f4f4; 
    width: 100%; 
    height: 400px; 
    overflow: hidden; 
  }

  .video-container video {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  .text-video {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    text-align: center; 
    background: rgba(0, 0, 0, 0.4); 
  }

  .text-video h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  .text-video p {
    font-size: 1.2rem;
    margin: 10px 0 0;
  }

/* Футер */
.footer {
    background-color: #FFFFFF;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
    color: #000;
  }

@media (min-width: 480px) and (max-width: 930px) {

    .burger{ display: flex}

    .header__nav{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50%;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #fff;
        animation: burgerAnimation 0.4s;
    }
    .header__links{
        flex-direction: column;
        row-gap: 30px;
    }
    .rizba{
        position: fixed;
    }
    .welcome__text {
        width: 480px;
        padding: 30px;
    }
    .welcome__title {
        font-size: 23px;
        font-weight: bold;
    }
      
    .welcome__desc {
        margin: 40px 0;
        font-size: 14px;
        opacity: 0.7;
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
      
        width: 180px;
        height: 32px;
      
        font-weight: 500;
        font-size: 12px;
    
      
        background: #fff;
        border-radius: 50px;
      
        transition: opacity 0.3s;
      }
      
      .btn:hover {
        opacity: 0.8;
      }
      
      .btn--small {
        width: 140px;
        height: 40px;
        font-size: 12px;
      }
      .stats {
        display: flex;
        justify-content: space-around;
        padding: 50px;
        background-color: #fff;
    }
    
    
    .stats-container {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto; 
        padding: 25px;
        gap: 50px; 
    }

    .stat-item {
        width: 100%; 
    }

    .about-content {
        flex-direction: column; 
        padding: 20px ;
        border-radius: 5px;
    }

    .about-text {
        font-size: 16px;
        line-height: 1.4;
    }
    .about {
        background-color: #140901;
        padding: 50px 0;
        color: #fff;
    }
    
    .about-content {
        display: flex;
        align-items: center;
        max-width: 930px;
        margin: 50px 50px;
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        overflow: hidden;
    }
    .text {
        padding: 10px;
        width: 90%;
    }
    
    .text h2 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    .text p {
        margin-bottom: 10px;
        font-size: 12px;
        color: #555;
    }
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 30px 50px;
    }
    .gallery-item {
        display: none;
        width: 100%;
        max-width: 400px; 
    }
    .gallery-item:nth-child(1),
    .gallery-item:nth-child(2),
    .gallery-item:nth-child(3),
    .gallery-item:nth-child(6) {
        display: block;
    }
    .contact-section {
        display: flex;
        flex-direction: column;
        align-items:center;

        padding: 50px 0px;
        gap: 24px;
    }
    .contact-box {
        align-items:center;
        max-width: 930px;
        margin: 0 auto;
        background-color: white;
        border-radius: 5px;
        width: 80%;
        padding: 0px;
    }
      .contact-box h2 {
        background-color: #7D583A;
        color: #fff;
        padding: 15px;
        border-radius: 5px 5px 0 0;
        margin-top: 0;
        font-size: 18px;
        font-weight: 600;
    }
      .contact-box p {
        margin: 15px 5px;
      }

.price-container {
    flex-direction: column; 
    gap: 15px; 
  }

  .price-box {
    width: 100%; 
    align-items:center;
    max-width: 250px;
    margin: 0 auto; 
  }
}
@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}

